*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 520px){
    #titulo {
        font-size: 22px;
    }
}

body{
    background: url(../img/bg-desktop.jpg) no-repeat top center/cover;
    height: 100vh;
    font-family: "Inter", sans-serif;
    color: white
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 580px;
    margin: 120px auto 0px;
    padding: 0 24px;
}

#titulo {
    text-align: center;
}

p {
    font-size: 16px;
    padding: 8px 0px;
}

#form {
    font-size: 16px;
    padding: 8px 0px;
}

#corpo {
    text-align: center;
    margin: 0 auto;
}

#corpo .caixa {
    font-size: 16px;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    color: white;
    outline: none;
    padding: 4px 6px;
    margin: 10px auto;
    width: 80%;
}

#enviar {
    background-color: white;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}